body{margin:0;font-family:Arial;background:#f2f2f2}

/* LOGIN */
.login-bg{
background:url('/static/images/smart_city.jpg') no-repeat center/cover;
height:100vh;display:flex;justify-content:center;align-items:center;
}
.login-box{
width:300px;background:#fff;padding:25px;border-radius:10px;
text-align:center;box-shadow:0 0 20px rgba(0,0,0,.4)
}
.login-box input{width:100%;padding:10px;margin-top:10px}
.password-box{position:relative}
.password-box span{
position:absolute;right:10px;top:12px;cursor:pointer
}
button{width:100%;padding:10px;background:#007bff;color:#fff;border:none}
.govt-logo{width:70px}
.error{color:red}

/* DASHBOARD */
.top-bar{
background:green;color:white;padding:15px;
display:flex;justify-content:space-between;align-items:center;
}
.logout{background:red;color:white;padding:8px;text-decoration:none}

.banner{width:100%;height:350px;object-fit:cover}

.status-row{
display:flex;gap:15px;padding:15px
}
.status-box{
flex:1;padding:30px;color:white;font-size:22px;
text-align:center;border-radius:5px
}
.green{background:green}
.blue{background:blue}
.orange{background:orange}
.red{background:red}

table{
width:95%;margin:20px auto;border-collapse:collapse;background:white
}
th{background:#ffcc80}
th,td{border:1px solid #ccc;padding:10px;text-align:center}
.no-data{background:orange;font-weight:bold}
