body{margin:0;font-family:Arial}

/* LOGIN */
.login-body{
 background:url("../images/smart_city.jpg") center/cover no-repeat;
 min-height:100vh;
 display:flex;
 justify-content:center;
 align-items:center;
}
.login-box{
 background:#fff;
 padding:25px;
 width:320px;
 text-align:center;
 border-radius:8px;
}
.login-box input,button{
 width:100%;height:42px;margin:6px 0;
}
.password-box{position:relative}
.password-box span{
 position:absolute;right:10px;top:10px;cursor:pointer;
}

/* DASHBOARD */
.top-bar{
 background:#2e7d32;color:white;
 padding:15px;display:flex;justify-content:space-between;
}
.logout{
 background:red;color:white;padding:8px 15px;text-decoration:none;
}
.banner img{width:100%;height:220px;object-fit:cover}

.status-row{display:flex;gap:10px;padding:10px}
.card{
 flex:1;height:70px;color:white;
 display:flex;align-items:center;justify-content:center;
}
.green{background:green}
.orange{background:orange}
.blue{background:blue}

table{width:100%;border-collapse:collapse}
th,td{border:1px solid #ccc;padding:10px;background:white}
.no-data td{background:#ffd8a8;font-weight:bold}

