body { margin:0; font-family: Arial; }

/* LOGIN */
.login-body {
    background: url("../images/smart_city.jpg") no-repeat center/cover;
    height:100vh; display:flex; justify-content:center; align-items:center;
}
.login-box {
    background:#fff; padding:25px; width:300px; text-align:center;
    border-radius:8px;
}
.login-box input, .login-box button {
    width:100%; padding:10px; margin:8px 0;
}
.password-box { position:relative; }
.password-box span {
    position:absolute; right:10px; top:12px; cursor:pointer;
}

/* DASHBOARD */
.top-bar {
    background:green; color:white; padding:15px; display:flex;
    justify-content:space-between; align-items:center;
}
.logout {
    background:red; color:white; padding:8px 15px; text-decoration:none;
}
.status-row {
    display:flex; gap:10px; padding:10px;
}
.card {
    flex:1; color:white; padding:15px; text-align:center;
}
.green { background:green; }
.orange { background:orange; }
.blue { background:blue; }

table {
    width:100%; border-collapse:collapse;
}
th { background:white; padding:10px; }
td { background:white; padding:10px; text-align:center; }
.no-data td { background:#ffd9a8; font-weight:bold; }
