body {
  margin: 0;
  font-family: Arial;
}

/* LOGIN */
.login-bg {
  background: url("/static/images/smart_city.jpg") center/cover no-repeat;
  height: 100vh;
}

.login-box {
  width: 320px;
  background: light blue;
  padding: 25px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.login-box input,
.login-box button {
  width: 100%;
  height: 42px;
  margin: 10px 0;
}

.password-box {
  position: relative;
}

.password-box span {
  position: absolute;
  right: 10px;
  top: 12px;
  cursor: pointer;
}

/* DASHBOARD */
.top-bar {
  background: green;
  color: white;
  padding: 15px;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
}

.logout {
  color: white;
  text-decoration: none;
}

.cards {
  display: flex;
  gap: 15px;
  margin: 20px;
}

.card {
  flex: 1;
  padding: 25px;
  color: white;
  font-size: 18px;
  text-align: center;
}

.green { background: green; }
.orange { background: orange; }
.blue { background: #1976d2; }

table {
  width: 90%;
  margin: auto;
  background: #fff3e0;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}
