body {
  font-family: Arial;
  background: #f2f2f2;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: white;
  padding: 30px;
  width: 300px;
  text-align: center;
}

.login-box input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
}

button {
  padding: 10px;
  width: 100%;
  background: #0d6efd;
  color: white;
  border: none;
}

.error {
  color: red;
}

.top-bar {
  background: green;
  color: white;
  padding: 15px;
}

.logout {
  float: right;
  color: red;
  text-decoration: none;
}

table {
  width: 90%;
  margin: 30px auto;
  border-collapse: collapse;
  background: white;
}

th, td {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: center;
}

.NORMAL {
  background: #c8e6c9;
}

.WARNING {
  background: #fff3cd;
}

.CRITICAL {
  background: #f8d7da;
}
