body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-bg {
  background: url("../images/smart_city.jpg") no-repeat center center/cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  background: rgba(255,255,255,0.95);
  padding: 30px;
  width: 360px;
  border-radius: 10px;
  text-align: center;
}

.logo {
  width: 80px;
  margin-bottom: 10px;
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

.login-card button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.error {
  color: red;
}

