body{margin:0;font-family:Arial;background:#f2f2f2}

/* LOGIN */
.login-bg{
background:url('/static/images/smart_city.jpg') no-repeat center/cover;
height:100vh;display:flex;align-items:center;justify-content:center;
}
.login-box{
width:300px;background:white;padding:25px;border-radius:10px;
text-align:center;box-shadow:0 0 20px rgba(0,0,0,.4)
}
.login-box input,button{
width:100%;padding:10px;margin-top:10px
}
button{background:#007bff;color:white;border:none}
.error{color:red}
.govt-logo{width:70px}

/* DASHBOARD */
.top-bar{
background:green;color:white;padding:15px;
display:flex;justify-content:space-between;align-items:center;
font-size:22px
}
.logout{background:red;color:white;padding:8px;text-decoration:none}

.banner{width:100%;height:350px;object-fit:cover}

.stats{
display:grid;grid-template-columns:repeat(3,1fr);
gap:15px;padding:15px
}
.card{
min-height:120px;color:white;font-size:20px;
display:flex;align-items:center;justify-content:center;
border-radius:5px;text-align:center
}
.green{background:green}
.orange{background:orange}
.blue{background:blue}

table{
width:95%;margin:20px auto;border-collapse:collapse;
background:#fff3e0
}
th,td{
border:1px solid #ccc;padding:10px;text-align:center
}
th{background:#ffcc80}
