body { margin:0; font-family: Arial; }

/* LOGIN */
.login-bg {
  background: url("images/smart_city.jpg") center/cover;
  height:100vh; display:flex; justify-content:center; align-items:center;
}
.login-card {
  background:white; padding:30px; border-radius:10px; text-align:center;
}
.login-card input, button {
  width:100%; margin:8px 0; padding:10px;
}
.error { color:red; }

/* DASHBOARD */
.top-bar {
  background:#2e7d32; color:white;
  padding:10px 20px; display:flex; justify-content:space-between;
}
.banner {
  background:url("images/waste.jpg") center/cover;
  height:250px;
}
.grid {
  display:grid;
  grid-template-columns: repeat(5, 1fr);
  gap:15px;
  padding:20px;
}
.grid div {
  background:#f2f2f2;
  padding:20px;
  border-radius:8px;
  text-align:center;
  font-size:18px;
}
.logout {
  color:white; text-decoration:none;
}

