<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
    <script defer src="/static/dashboard.js"></script>
</head>
<body>

<div class="top-bar">
    <h1>Smart Waste Monitoring Dashboard</h1>
    <a class="logout" href="/logout">Logout</a>
</div>

<div class="status-cards">
    <div class="card green" id="totalBins">Total Bins: 0</div>
    <div class="card orange" id="monitoring">Monitoring LIVE</div>
    <div class="card blue" id="system">System ONLINE</div>
</div>

<table>
    <thead>
        <tr>
            <th>Bin ID</th>
            <th>Area</th>
            <th>Gas Level</th>
            <th>Bin Level</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody id="tableBody">
        <tr>
            <td colspan="5" class="no-data">
                No ESP Data received yet
            </td>
        </tr>
    </tbody>
</table>

</body>
</html>
