<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="top-bar">
  <h2>Smart Waste Monitoring Dashboard</h2>
  <a href="/logout" class="logout">Logout</a>
</div>

<div class="cards">
  <div class="card green">Total Bins<br><b>1</b></div>
  <div class="card orange">Monitoring<br><b>LIVE</b></div>
  <div class="card blue">System<br><b>ONLINE</b></div>
</div>

<table>
  <tr>
    <th>Bin ID</th>
    <th>Area</th>
    <th>Gas</th>
    <th>Bin Level %</th>
    <th>Status</th>
  </tr>
  <tr>
    <td id="bin_id">-</td>
    <td id="area">-</td>
    <td id="gas">-</td>
    <td id="level">-</td>
    <td id="status">No ESP Data received yet</td>
  </tr>
</table>

<script src="/static/dashboard.js"></script>
</body>
</html>
