<!DOCTYPE html>
<html>
<head>
  <title>Smart City Login</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body class="login-body">

<div class="login-box">
  <img src="/static/images/govt_logo.png" class="govt-logo">

  <h2>Government of India</h2>
  <p>Municipal Waste System</p>

  <form method="POST">
    <input type="email" name="email" placeholder="Email ID" required>

    <div class="password-box">
      <input type="password" name="password" id="password" placeholder="Password" required>
      <span onclick="toggle()">👁</span>
    </div>

    <button type="submit">Login</button>
  </form>
</div>

<script>
function toggle(){
  let p = document.getElementById("password");
  p.type = p.type === "password" ? "text" : "password";
}
</script>

</body>
</html>





