<!DOCTYPE html>
<html>
<head>
<title>Smart City Login</title>
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="login-bg">

<div class="login-box">
<img src="/static/images/govt_logo.png" class="govt-logo">

<h3>Government of India</h3>
<p>Municipal Waste System</p>

<form method="post">
<input type="email" name="email" placeholder="Email ID" required>
<input type="password" name="password" placeholder="Password" required>
<button type="submit">Login</button>
</form>

{% if error %}<p class="error">{{error}}</p>{% endif %}
</div>

</body>
</html>
